// BLACK
$black-normal: #1a1a1a;
$black-dark: #111111;
$black-light: #303030;

//WHITE
$white-normal: #FAF8F5;
$white-dark: #EBE7E1;
$white-light: #F2EFEB;

//PURPLE
$purple-normal: #7E2E96;
$purple-dark: #3C104A;
$purple-light: #C45DE3;

//GREY
$grey-normal: #808080;
$grey-dark: #505050 ;
$grey-light: #B0B0B0;

//AUXILIARY
$red-error: #D03333;
$green-success: #28bb49;
$yellow-warning: #d9b043;


.color-purple{
    color: $purple-normal;
}