h1, h2, h3, h4, h5, h6, p {
   color: $white-dark;

    font-family: 'Readex Pro', sans-serif;
}

p{
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    color: $grey-light;
}


/*.button {
    font-family: 'Readex Pro', sans-serif;
}
*/


h1 {
  font-size: 72px;
  line-height: 105%;
  color: $white-dark;
}

h2 {
  font-size: 56px;
  line-height: 110%;


}

h3 {
  font-size: 40px;
  line-height: 115%;

}

h4 {
  font-size: 28px;
  line-height: 120%;
}

//CATEGORIES
h5 {
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: $purple-normal;
  font-weight: 300;
  letter-spacing: 1px;
}

h6 {
  font-size: 16px;
  
  font-weight: 300;
  line-height: 150%;
}
